/*** General ***/

body {
  background-color: #eeecea;
}

.App {
  text-align: center;
}

a {
  font-weight: bold;
  color: #c6861c;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #c6861c;
  text-decoration: underline;
}

b {
  color: #c6861c;
}

.special {
  font-family: 'Pinyon Script', cursive;
  font-size: 6vmin;
}

h1 {
  color: #c6861c;
  font-family: 'Pinyon Script', cursive;
  font-size: 9vmin;
  margin-bottom: 0;
  margin-left: 10vw;
  margin-right: 10vw;
}

.black {
  color: #000000;
}

hr {
  width: 25%;
  background-color: #c6861c;
  color: #c6861c;
  border-color: #c6861c;
  height: 0.2vw;
  margin-bottom: 3vw;
}

ul {
  margin: 0;
  padding: 0;
}

.style {
  list-style-position: inside;
}

.no-style {
  list-style: none;
}

li {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}


/*** Plaque ***/

.Plaque-box {
  align-items: center;
  margin-bottom: -5px;
}

.Plaque-img {
  pointer-events: none;
  max-width: 100%;
  height: auto;
  border-bottom: 0;
  margin-bottom: 0;
}

/*** Components ***/

.component-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
  background-color: #ffffff;
  max-width: 1000px;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3vmin;
}

.text-paragraph-justify {
  color: rgb(0, 0, 0);
  max-width: 1000px;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: justify;
}

.text-paragraph-center {
  color: rgb(0, 0, 0);
  max-width: 1000px;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

.photo {
  width: 90%;
  height: auto;
  margin-top: calc(10px + 2vmin);
  margin-bottom: calc(10px + 2vmin);
}

.sub-data {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.break {
  display: block;
}

/*** Footer ***/

.Footer-box {
  background-color: #c6861c;
  min-height: 14vmin;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*** Others ***/

.error-404 {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}