html, body {
  margin: 0;
}

/* Individual item */

.bm-item {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 15px;
  color: #c6861c;
  transition: color 0.2s;
  box-shadow: 0 1px 0 0 #a5a3a2;
}

/* Change color on hover */

.bm-item:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(214, 205, 205);
}

.bm-item:focus {
  outline: none !important;
  outline-offset: none !important;
}

/* Change color on hover */

.bm-item:active {
  background-color: rgb(214, 205, 205);
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 16px;
  top: 16px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #c6861c;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #c6861c;
}

/* General sidebar styles */

.bm-menu {
  background: #ffffff;
  padding-top: 10vmin;
  font-size: 1.25em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #c6861c;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}